In [1]:
import pandas as pd

In [47]:
users = [123,124,123,125,125,125,123,125,124]
state = ['AC','CT','CA','CO','CO','CO','CA','CO','CT']
store = ['A','A','B','B','A','A','C','D','A']

column_names = ['uid','state','store']
df = pd.DataFrame([users, state, store]).T
df.columns=column_names

In [48]:
df

   uid state store
0  123    AC     A
1  124    CT     A
2  123    CA     B
3  125    CO     B
4  125    CO     A
5  125    CO     A
6  123    CA     C
7  125    CO     D
8  124    CT     A

In [49]:
new_df = df.groupby(['uid','state']).count()
new_df

           store
uid state
123 AC         1
    CA         2
124 CT         2
125 CO         4

In [59]:
new = new_df.reset_index()
new

   uid state  store
0  123    AC      1
1  123    CA      2
2  124    CT      2
3  125    CO      4

In [63]:
x = new.groupby('uid').count()
x

     state  store
uid
123      2      2
124      1      1
125      1      1

In [64]:
x[x.state > 1]

     state  store
uid
123      2      2