# IMPORTS

In [2]:
import pandas as pd

import my_pickle as mp
import my_split as ms
import my_dataframes as md

from importlib import reload

import warnings
warnings.filterwarnings('ignore')

In [52]:
reload(md)

# READ IN

In [73]:
# message_df = md.get_message_df()
convo_df = md.get_conversation_df(message_df)
# user_df = md.get_user_df()

created conversation dataframe

In [87]:
def my_to_datetime_2(x):
    if isinstance(x, int): return pd.to_datetime(x*1000000)
    else: return None

def my_to_timedelta_2(x):
    if isinstance(x, int):return pd.to_timedelta(x).days
    else: return None

In [88]:
convo_df['timestampd'] = convo_df.timestamp.apply(my_to_datetime_2)
convo_df['timestampd_receiver'] = convo_df.timestamp_receiver.apply(my_to_datetime_2)
convo_df['timed_to_respond'] = convo_df.timestamp_receiver.apply(my_to_timedelta_2)
convo_df[['timestampd','timestampd_receiver','timed_to_respond']]

                   timestampd     timestampd_receiver  timed_to_respond
24    2017-11-12 13:27:23.250                     NaT               NaN
25    2017-09-11 02:41:19.188                     NaT               NaN
26    2017-10-01 19:01:24.198                     NaT               NaN
27    2017-09-06 20:03:30.419                     NaT               NaN
28    2017-09-06 20:04:10.818                     NaT               NaN
29    2017-07-03 20:14:06.271                     NaT               NaN
30    2017-07-03 20:18:55.419                     NaT               NaN
31    2017-07-03 20:23:06.571                     NaT               NaN
32    2017-07-03 20:12:04.855                     NaT               NaN
33    2017-09-06 04:52:29.649                     NaT               NaN
34    2017-09-06 04:52:55.229                     NaT               NaN
35    2017-09-06 04:53:18.259                     NaT               NaN
36    2017-07-03 20:23:29.401                     NaT               NaN
37    2017-07-03 20:23:55.828                     NaT               NaN
38    2017-11-07 18:02:06.102                     NaT               NaN
39    2017-10-01 19:03:49.321                     NaT               NaN
40    2017-07-03 20:25:43.175                     NaT               NaN
41    2017-11-11 18:58:22.550                     NaT               NaN
42    2017-06-18 23:42:18.778                     NaT               NaN
43    2017-06-18 23:40:37.266                     NaT               NaN
44    2017-11-26 21:15:47.579                     NaT               NaN
45    2017-11-26 21:17:30.540                     NaT               NaN
46    2017-11-26 21:15:19.629                     NaT               NaN
47    2017-05-04 23:57:05.439                     NaT               NaN
48    2017-11-26 21:14:57.856                     NaT               NaN
49    2017-08-05 14:43:18.258                     NaT               NaN
50    2017-07-12 18:26:38.527                     NaT               NaN
51    2017-07-11 17:39:26.866 2017-07-12 06:16:54.261               0.0
52    2017-09-06 19:23:13.225                     NaT               NaN
53    2017-11-26 21:16:33.229                     NaT               NaN
...                       ...                     ...               ...
20363 2017-10-30 19:49:54.421 2017-10-30 22:04:55.779               0.0
20364 2017-11-09 16:04:37.809                     NaT               NaN
20365 2017-08-07 04:42:25.064                     NaT               NaN
20366 2017-07-30 01:42:52.656                     NaT               NaN
20367 2017-10-12 21:22:25.106                     NaT               NaN
20368 2017-12-09 20:48:22.613                     NaT               NaN
20369 2017-12-09 20:47:32.685                     NaT               NaN
20370 2017-12-11 07:03:24.080                     NaT               NaN
20371 2017-12-03 21:23:52.417                     NaT               NaN
20372 2017-12-03 21:25:49.910 2017-12-03 21:34:29.172               0.0
20373 2017-12-10 04:11:32.621                     NaT               NaN
20374 2017-07-19 07:28:44.972                     NaT               NaN
20375 2017-07-23 05:03:39.353 2017-07-23 22:51:01.920               0.0
20376 2017-07-19 07:33:27.103 2017-07-19 18:20:11.369               0.0
20377 2017-07-19 07:34:37.561                     NaT               NaN
20378 2017-07-19 07:37:16.006                     NaT               NaN
20379 2017-09-13 18:36:40.859                     NaT               NaN
20380 2017-10-16 03:04:36.313                     NaT               NaN
20381 2017-11-09 10:17:37.107                     NaT               NaN
20382 2017-04-27 19:54:12.341                     NaT               NaN
20383 2017-04-27 20:10:03.432                     NaT               NaN
20384 2017-10-17 21:56:27.050 2017-10-17 22:50:26.297               0.0
20385 2017-09-09 22:43:47.817                     NaT               NaN
20386 2017-10-08 00:53:14.316                     NaT               NaN
20387 2017-10-28 02:52:12.091                     NaT               NaN
20388 2017-10-08 00:55:25.281                     NaT               NaN
20389 2017-10-08 00:56:28.963                     NaT               NaN
20390 2017-09-16 19:23:00.835                     NaT               NaN
20391 2017-10-15 21:51:05.338                     NaT               NaN
20392 2017-11-15 16:20:31.917                     NaT               NaN

[20369 rows x 3 columns]

# ECT SPLIT

In [18]:
# find the split!
cutoff = ms.ect_find_split(convo_df, .7)
print("split on:                      {}".format(pd.to_datetime(cutoff*1000000)))

# do the split!
safe_convo_df = ms.ect_make_split(convo_df, cutoff)
print("most recent convo data:        {}".format(pd.to_datetime(safe_convo_df.timestamp.max()*1000000)))

safe_message_df = ms.ect_make_split(message_df, cutoff)
print("most recent message data:      {}".format(pd.to_datetime(safe_message_df.timestamp.max()*1000000)))

# safe_lastmessage_df = ms.ect_make_split(last_df, cutoff)
# print("most recent last message data: {}".format(pd.to_datetime(safe_lastmessage_df.timestamp.max()*1000000)))

split on:                      2017-10-01 06:37:20.466000
most recent convo data:        2017-10-01 06:37:20.466000
most recent message data:      2017-10-01 06:37:20.466000

# REMOVE ROWS FROM CONVOS WITH MISSING UIDS (not now)

In [ ]:
# safe_convo_df = md.remove_bad_uids(safe_convo_df, user_df)

# PICKLE EVERYTHING!

https://www.youtube.com/watch?v=yYey8ntlK_E

In [19]:
mp.json_it(user_df,'data_user')
mp.json_it(safe_message_df,'data_message')  
mp.json_it(safe_convo_df,'data_convo')  
# mp.json_it(lastmessage_df,'lastmessage_df')

In [20]:
safe_convo_df.head()

,response,uid_sender,len_sender,len_receiver,mid_sender,mid_receiver,timestamp,convo_length,uid_receiver
conversation_id,,,,,,,,,
02sjTzcsaO02omVxM8Xm,False,02omVxM8Xm,21,None,-Ktio--3zmDFQg8sB6yL,None,1505097679188,1,02sjTzcsaO
07lVtClAEQ01iDVeaXl1,False,01iDVeaXl1,1,None,-KtNm_grgv_VgpuPaKK2,None,1504728210419,1,07lVtClAEQ
0AFU6guKDt01iDVeaXl1,False,01iDVeaXl1,1,None,-KtNmjZOHhaqIiSvzJVT,None,1504728250818,1,0AFU6guKDt
0AFU6guKDt01mfWG4vUm,False,0AFU6guKDt,4,None,-Ko94f8tAmscNPu6Jgat,None,1499112846271,1,01mfWG4vUm
0AFU6guKDt06y5iMXoCP,False,0AFU6guKDt,1,None,-Ko95lnJtMsNzXmjqWKA,None,1499113135419,1,06y5iMXoCP